* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  text-align: center;
}

h2,
h3 {
  font-size: 1.5rem;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}

/* Preferências de esquema de cores claras */
@media (prefers-color-scheme: light) {
  body {
    background-color: #f4f4f9;
    color: #333;
  }

  button {
    background-color: #007bff;
    color: #fff;
  }

  button:hover {
    background-color: #0056b3;
  }
}

/* Preferências de esquema de cores escuras */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #1e1e1e;
    color: #f4f4f9;
  }

  button {
    background-color: #444;
    color: #fff;
  }

  button:hover {
    background-color: #666;
  }
}

/* Estilos para telas maiores */
@media (min-width: 768px) {
  .app {
    padding: 40px;
  }

  h2,
  h3 {
    font-size: 2rem;
  }

  button {
    padding: 15px 30px;
    font-size: 1.2rem;
  }
}