/* Estilização Mobile-First */
h2 {
    font-size: 1.8rem;
    /* tamanho mínimo */
    font-size: clamp(1.8rem, 2.5vw, 2.5rem);
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 2vw, 2rem);
    text-align: center;
}

h4 {
    font-size: 1.2rem;
    font-size: clamp(1.2rem, 1.8vw, 1.6rem);
    text-align: center;
}

p {
    font-size: 1rem;
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    text-align: justify;
    text-indent: 20px;
    padding: 0 20px;

}