body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f4f4f4;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.app {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #6200ea;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

header h1 {
  font-size: 1.5rem;
  letter-spacing: 1px;
}

header button {
  background-color: #03dac6;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

header button:hover {
  background-color: #018786;
}

.spot-list,
.spot-details,
.selected-spots {
  margin-bottom: 20px;
}

.spot-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.spot-item {
  background-color: #e0e0e0;
  padding: 15px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out, transform 0.3s ease;
}

.spot-item:hover {
  background-color: #ccc;
  transform: translateY(-3px);
}

.spot-details {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.spot-details h2 {
  font-size: 1.75rem;
  margin-bottom: 10px;
}

.spot-details p {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #666;
}

.spot-details label {
  font-weight: bold;
}

.spot-details input {
  padding: 8px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 60px;
}

.spot-details button {
  background-color: #6200ea;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.spot-details button:hover {
  background-color: #3700b3;
}

.selected-spots {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

     .selected-zone {
       background-color: #333;
       color: #fff;
     }
.selected-spots h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.selected-spots ul {
  list-style-type: none;
  padding: 0;
}

.selected-spots li {
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  margin-bottom: 10px;
  font-weight: bold;
}

.selected-spots h3 {
  margin-top: 20px;
  font-size: 1.25rem;
  color: #333;
}

.spot-item {
  background-color: #333;
  color: #fff;
}

.spot-details {
  background-color: #242424;
}

.selected-spots {
  background-color: #242424;
}

@media (hover: hover) {
  .spot-item:hover {
    background-color: #ddd;
    cursor: pointer;
    transform: translateY(-2px);
  }

  .spot-item:hover {
    background-color: #444;
  }
}


@media (min-width: 768px) {
  .app {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .spot-list {
    flex: 1;
    margin-right: 20px;
  }

  .spot-details {
    flex: 1;
    margin-right: 20px;
  }

  .selected-spots {
    flex: 1;
  }
}


@media (prefers-color-scheme: light) {
  body {
    background-color: #f4f4f4;
    color: #000;
  }

  .spot-item {
    background-color: #e0e0e0;
    color: #000;
  }

  .spot-details,
  .selected-spots {
    background-color: #fff;
    color: #000;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #fff;
  }

   .selected-zone
   {
    background-color: #333;
    color: #fff;
   }

  .spot-item {
    background-color: #333;
    color: #fff;
  }

  .spot-details,
  .selected-spots {
    background-color: #242424;
    color: #fff;
  }
}