.menu {
    background-color: #333;
    color: #fff;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu img {
    width: 50px;
    margin: auto 20px;
}

.menu h1 {
    font-size: 1.5rem;
    margin: 0;
}

.menu ul {
    list-style: none;
    display: none;
    gap: 1rem;
    padding: 0;
    margin: 0;
    flex-direction: column;
    
    align-items: center;
    width: 100%;
}

.menu ul.expanded {
    display: flex;
}

.menu ul li {
    cursor: pointer;
    padding: 0.5rem 1rem;
    width: 100%;
    text-align: center;
}

.menu ul li:hover {
    background-color: #e60023;
    color: #fff;
}

.menu .menu-toggle {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    color: white;
}

.menu-toggle-label
{
    display: flex;
    order: 1;
}

.menu input[type="checkbox"] {
    display: none;
}


.menu input[type="checkbox"]:checked~ul {
    display: flex;
}


@media (min-width: 768px) {
    .menu {
        padding: 1rem;
    }
    
    .menu ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: auto;
    }

    .menu ul li {
        width: auto;
        text-align: left;
    }

    .menu .menu-toggle {
        display: none;
       
    }
        .menu-toggle-label
        
}


@media (prefers-color-scheme: light) {
    .menu {
        background-color: #f0f0f0;
        color: #333;
    }

    .menu ul li:hover {
        background-color: #e60023;
        color: white;
    }

    .menu .menu-toggle {
        color: #333;
    }
}


@media (prefers-color-scheme: dark) {
    .menu {
        background-color: #1a1a1a;
        color: #fff;
    }

    .menu ul li:hover {
        background-color: #ff4d4d;
    }
}