.image-gallery {
    text-align: center;
    padding: 20px;
    width: 100%;

}
.image-gallery
{
    display: inline-block;

}

.image-gallery img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 1rem;
}

.thumbnail-gallery {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
.thumbnail-gallery img
{
    width: 20%;
}

@media (prefers-color-scheme: light) {
    .image-gallery {
        background-color: #ffffff;
    }

    .thumbnail-gallery .thumbnail {
        border-color: #d1d1d1;
    }
}


@media (prefers-color-scheme: dark) {
    .image-gallery {
        background-color: #262626;
    }

    .thumbnail-gallery .thumbnail {
        border-color: #333333;
    }
}


@media (min-width: 768px) {
    .image-gallery {
        width: 50%;
    }
}