/* Estilos mobile-first */

/* Container geral */
.container {
    padding: 0 20px;
}

/* Títulos centralizados */
.title-h2,
.title-h3,
.title-h4 {
    text-align: center;
}

/* Hierarquia de tamanhos de fontes */
.title-h2 {
    font-size: 1.5rem;
    /* Tamanho mínimo para mobile */
}

.title-h3 {
    font-size: 1.25rem;
    /* Tamanho mínimo para mobile */
}

.title-h4 {
    font-size: 1.125rem;
    /* Tamanho mínimo para mobile */
}

/* Parágrafos justificados com indentação */
.paragraph {
    text-align: justify;
    text-indent: 20px;
    padding: 0 20px;
    font-size: 1rem;
}

/* Estilos para telas maiores */
@media (min-width: 768px) {
    .title-h2 {
        font-size: 2rem;
        /* Ideal para tablets */
    }

    .title-h3 {
        font-size: 1.75rem;
        /* Ideal para tablets */
    }

    .title-h4 {
        font-size: 1.5rem;
        /* Ideal para tablets */
    }

    .paragraph {
        font-size: 1.125rem;
    }
}

@media (min-width: 1024px) {
    .title-h2 {
        font-size: 2.5rem;
      
    }

    .title-h3 {
        font-size: 2rem;
       
    }

    .title-h4 {
        font-size: 1.75rem;
       
    }

    .paragraph {
        font-size: 1.25rem;
    }
}