:root {
  --color-bg-light: #fff;
  --color-text-light: #000;
  --color-bg-dark: #121212;
  --color-text-dark: #fff;
}


@media (prefers-color-scheme: light) {
  .app {
    background-color: var(--color-bg-light);
    color: var(--color-text-light);
  }
}

/* Tema escuro */
@media (prefers-color-scheme: dark) {
  .app {
    background-color: var(--color-bg-dark);
    color: var(--color-text-dark);
  }
}